name: Continuous delivery

on:
  push:
    branches: [develop]
  pull_request:
    branches: [develop]
    types: [opened, synchronize, reopened]

jobs:
  build_and_pull:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup Java 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Build da aplicacao
        run: mvn clean package -DskipTests -B

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ vars.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: . 
          push: true 
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/gs3-wellbeing-monitor:latest
            ${{ secrets.DOCKER_USERNAME }}/gs3-wellbeing-monitor:${{ github.sha }}
          
      - name: Deploy concluido
        run: |
          echo "Imagem Docker enviada com sucesso para o Docker Hub!"
          echo "Imagem: ${{ secrets.DOCKER_USERNAME }}/gs3-wellbeing-monitor"